<%= form_with(model: pose, local: true) do |form| %>
  <% if pose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pose.errors.count, "error") %> prohibited this pose from being saved:</h2>

      <ul>
        <% pose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :english_name %>
    <%= form.text_field :english_name %>
  </div>

  <div class="field">
    <%= form.label :sanskrit_name %>
    <%= form.text_field :sanskrit_name %>
  </div>

  <div class="field">
    <%= form.label :demo_icon_url %>
    <%= form.text_field :demo_icon_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
