<p id="notice"><%= notice %></p>

<h1>Poses</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>English name</th>
      <th>Sanskrit name</th>
      <th>Demo icon url</th>
      <th>Demo vid url</th>
    </tr>
  </thead>

  <tbody>
    <% @poses.each do |pose| %>
      <tr>
        <td><%= link_to image_tag(pose.demo_icon_url, size: "44"), pose %></td>
        <td><%= link_to pose.english_name, pose %></td>
        <td><%= link_to pose.sanskrit_name, pose %></td>
        <td><%= link_to pose.demo_icon_url, pose.demo_icon_url, target: "_blank" %></td>
        <td><%= link_to pose.demo_vid_url, pose.demo_vid_url, target: "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pose', new_pose_path %>
