<p id="notice"><%= notice %></p>

<h1>Sequences</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pose 1</th>
      <th>Pose 2</th>
      <th>Pose 3</th>
      <th>Pose 4</th>
      <th>Pose 5</th>
      <th>Pose 6</th>
      <th>Pose 7</th>
      <th>Pose 8</th>
      <th>Pose 9</th>
      <th>Pose 10</th>
      <th>Pose 11</th>
      <th>Pose 12</th>
      <th>Pose 13</th>
      <th>Pose 14</th>
      <th>Pose 15</th>
      <th>Pose 16</th>
      <th>Pose 17</th>
      <th>Pose 18</th>
      <th>Pose 19</th>
      <th>Pose 20</th>
      <th>Pose 21</th>
      <th>Pose 22</th>
      <th>Pose 23</th>
      <th>Pose 24</th>
      <th>Pose 25</th>
      <th>Pose 26</th>
      <th>Pose 27</th>
      <th>Pose 28</th>
      <th>Pose 29</th>
      <th>Pose 30</th>
      <th>Pose 31</th>
      <th>Pose 32</th>
      <th>Pose 33</th>
      <th>Pose 34</th>
      <th>Pose 35</th>
      <th>Pose 36</th>
      <th>Pose 37</th>
      <th>Pose 38</th>
      <th>Pose 39</th>
      <th>Pose 40</th>
      <th>Pose 41</th>
      <th>Pose 42</th>
      <th>Pose 43</th>
      <th>Pose 44</th>
      <th>Pose 45</th>
      <th>Pose 46</th>
      <th>Pose 47</th>
      <th>Pose 48</th>
      <th>Pose 49</th>
      <th>Pose 50</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sequences.each do |sequence| %>
      <tr>
        <td><%= sequence.name %></td>
        <td><%= sequence.pose_1_id %></td>
        <td><%= sequence.pose_2_id %></td>
        <td><%= sequence.pose_3_id %></td>
        <td><%= sequence.pose_4_id %></td>
        <td><%= sequence.pose_5_id %></td>
        <td><%= sequence.pose_6_id %></td>
        <td><%= sequence.pose_7_id %></td>
        <td><%= sequence.pose_8_id %></td>
        <td><%= sequence.pose_9_id %></td>
        <td><%= sequence.pose_10_id %></td>
        <td><%= sequence.pose_11_id %></td>
        <td><%= sequence.pose_12_id %></td>
        <td><%= sequence.pose_13_id %></td>
        <td><%= sequence.pose_14_id %></td>
        <td><%= sequence.pose_15_id %></td>
        <td><%= sequence.pose_16_id %></td>
        <td><%= sequence.pose_17_id %></td>
        <td><%= sequence.pose_18_id %></td>
        <td><%= sequence.pose_19_id %></td>
        <td><%= sequence.pose_20_id %></td>
        <td><%= sequence.pose_21_id %></td>
        <td><%= sequence.pose_22_id %></td>
        <td><%= sequence.pose_23_id %></td>
        <td><%= sequence.pose_24_id %></td>
        <td><%= sequence.pose_25_id %></td>
        <td><%= sequence.pose_26_id %></td>
        <td><%= sequence.pose_27_id %></td>
        <td><%= sequence.pose_28_id %></td>
        <td><%= sequence.pose_29_id %></td>
        <td><%= sequence.pose_30_id %></td>
        <td><%= sequence.pose_31_id %></td>
        <td><%= sequence.pose_32_id %></td>
        <td><%= sequence.pose_33_id %></td>
        <td><%= sequence.pose_34_id %></td>
        <td><%= sequence.pose_35_id %></td>
        <td><%= sequence.pose_36_id %></td>
        <td><%= sequence.pose_37_id %></td>
        <td><%= sequence.pose_38_id %></td>
        <td><%= sequence.pose_39_id %></td>
        <td><%= sequence.pose_40_id %></td>
        <td><%= sequence.pose_41_id %></td>
        <td><%= sequence.pose_42_id %></td>
        <td><%= sequence.pose_43_id %></td>
        <td><%= sequence.pose_44_id %></td>
        <td><%= sequence.pose_45_id %></td>
        <td><%= sequence.pose_46_id %></td>
        <td><%= sequence.pose_47_id %></td>
        <td><%= sequence.pose_48_id %></td>
        <td><%= sequence.pose_49_id %></td>
        <td><%= sequence.pose_50_id %></td>
        <td><%= link_to 'Show', sequence %></td>
        <td><%= link_to 'Edit', edit_sequence_path(sequence) %></td>
        <td><%= link_to 'Destroy', sequence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequence', new_sequence_path %>
